
/* RESET E ESTILOS GERAIS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #FFFDF1;
}

/* CABEÇALHO E MENU */
header {
  background-color: #9e5555;
  color: #d4bc8c;
  width: 100%;
  padding: 20px;
  font-size: xx-large;
  font-family: fantasy;
}

.cabecalho-itens {
  max-width: 1980px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container_pai {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.cabecalho_imagem {
  width: 300px;
  height: auto;
}

.titulo_site {
  padding: 50px;
  text-align: center;
  width: 50%;
  font-size: 30px;
  color: #BE1A1A;
}

.sociais {
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
}

/* NAVEGAÇÃO (MENU) */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #b85f5f;
  display: flex;
  justify-content: center;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.banner1 {
  display: flex;
  justify-content: center;
}

/* SEÇÃO DE ÁLBUNS (ORGANIZADOS 3 EM CIMA E 3 EM BAIXO) */
.estudantes_todos {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Força 3 colunas por linha */
  gap: 30px 20px;
  justify-items: center;
  max-width: 1000px;
  margin: 0 auto 40px auto;
}

.estudante-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
  padding: 24px 0;
}

.estudante-nome {
  text-align: center;
}

/* SEÇÃO DE VÍDEO */
.titulo-video {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #faae43;
  text-align: center;
  margin-bottom: 15px;
}

.container-video {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 20px;
}

.container-video iframe {
  margin: 0 auto;
}

/* RODAPÉ */
.escola {
  background-image: linear-gradient(#aa5e5e, #D0E7E6);
  color: #fad2a5;
  padding: 24px 0;
  text-align: center;
}

.escola-titulo {
  padding: 50px;
  text-align: center;
}

.logo_rodape {
  height: 180px;
  padding: 12px 0;
}

.link {
  color: #ffffff;
  text-decoration: none;
}